[package]
name = "clex"
version = "0.2.1"
repository.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
rand = { workspace = true }
unicode-segmentation = { workspace = true }
