[package]
name = "cpast"
version = "0.9.2"
description = "Run custom testcase with powerful clex language powered generated tool. Ideal for competitive coders. Can test two file and pass & match randomly generated outputs"
categories = ["development-tools::testing", "command-line-utilities", "compilers", "development-tools"]
keywords = ["automata", "competitive-program", "generator", "language", "testcase"]
default-run = "cpast"
repository.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { workspace = true, features = ["derive"] }
cli-clipboard = { workspace = true }
tokio = { workspace = true, features = ["full"] }
futures = { workspace = true }
colored = { workspace = true }
clap_complete = { workspace = true }
clex_gen = { version = "^0.3.1", path = "../clex_gen" }
ccode_runner = { version = "^0.3.1", path = "../ccode_runner" }
clex_llm = { version = "^0.2.1", path = "../clex_llm" }
thiserror = { workspace = true }

